@import "tailwindcss";
@import "./themes.css";
/*https://redlib.freedit.eu/r/tailwindcss/comments/1hpvosi/hover_css_broken_in_tailwind_v4_need_help/*/
@custom-variant hover (&:hover); 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-nsd: var(--font-nsd); */
  /* --font-: "Noto Sans Mono"; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.slideIn {
  animation:slidein 500ms both;
}


.card {
  @apply rounded-lg p-3;
  width: fit-content;
  flex-grow: 1;
  position:relative;
  z-index: 0;
  scale: 1;
  transition: all 0.2s;
}

.card ul {
  max-width: 300px;
}

.lock-content {
  @apply aspect-auto h-[unset];
  width: unset;
  object-fit:contain;
}

li {
  @apply mt-1 mb-1;
}

.card:after {
  @apply rounded-lg shadow-lg shadow-gray-500/80;
  width: 100%; height: 100%;
  @apply bg-white dark:bg-gray-700;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:-1;

}

.card:hover {
  scale: 1.02;
}

@keyframes slidein {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

b {
  @apply font-bold;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans Display", var(--font-nsd), sans-serif;
  transition: 0.2s ease;
  scroll-behavior: smooth;
}

hr {
  outline: 1px solid currentColor;
  border-radius: 1px;

}

* {
  /* outline: 2px solid transparent; */
  outline-width: 2px;
}

.focusable:focus {
  outline: 2px solid var(--color-blue-600);
  /* transition: outline 0.2s ease; */
}

/* .animIn {
	--secondaryAnim: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */

.spinner {
  /* --secondaryAnim: none; */
  animation: rotate 0.5s infinite;
  --tfcn: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: width 0.2s var(--tfcn), height 0.2s var(--tfcn), opacity 0.1s var(--tfcn);
}

/* .animOut {
  --secondaryAnim: scale-out-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */

.indentleft {
  @apply pl-1 m-1 border-l-[3px] rounded-[3px]
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.summaryContainer {
  flex-grow: 1;
  border-radius: var(--radius-md);
  outline-width: 2px;
  /* margin: calc(2*var(--spacing)); */
  padding: calc(2*var(--spacing));
  overflow-y: scroll;
  max-height: 70vh;
  outline-style: --var(--tw-outline-style);
}

a {
  text-decoration-line: underline;
}

@theme {
  --color-lime-500: #00cc00;
  /* --color-lime-400: #00cc00; */
}

textarea {
  @apply p-1 grow-4 rounded-sm;
  font-family: var(--font-nsm);
}

.font-raleway {
  font-family: var(--font-raleway);
}

.animHighlight {
  animation: highlight 5s both;
}

@keyframes highlight {
  0% {
    background-color: var(--color-blue-200);
    box-shadow: 0px 0px 3px 3px var(--color-blue-200);
  }
  100% {
    background-color: #fff0;
    box-shadow: 0px 0px 3px 3px #fff0;
  }
}

.gicons {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


@font-face {
  font-family: "Noto Sans Display";
  font-style: normal;
  /* font-weight:  */
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
}

@font-face {
  font-family: "Noto Sans Display";
  font-style: normal;
  /* font-weight:  */
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:ital,wght@0,100..900;1,100..900&display=swap');
}


/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v241/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.gicons {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

button:focus {
  outline-style:solid;
}