@import "tailwindcss";

.card {
  @apply rounded-lg p-3;
  width: 100%;
  position:relative;
  z-index: 0;
}

.lock-content {
  @apply aspect-auto h-[unset];
  width: unset;
}

li {
  @apply mt-1 mb-1;
}

.card:after {
  @apply rounded-lg shadow-lg shadow-gray-500/80;
  width: 100%; height: 100%;
  @apply bg-white dark:bg-gray-700;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:-1;
}

hr {
  @apply m-4;
}