@import "tailwindcss";
@tailwind utilities;

.summaryContainer {
  flex-grow: 1;
  border-radius: var(--radius-md);
  outline-width: 2px;
  margin: calc(2*var(--spacing));
  padding: calc(2*var(--spacing));
  overflow-y: scroll;
  max-height: 70vh;
  outline-style: --var(--tw-outline-style);
}