@import "tailwindcss";

/* @theme {
  --text: text-red-400;
  --active: active:text-red-300;
  --hover: hover:text-red-500 hover:bg-red-200 focus:text-red-500 focus:bg-red-200;
  --bgMain: bg-red-100;
  --bgLight: bg-red-50;
  --bgStrong: bg-red-200;
} */


.red.text:not(.override-colour), .red .text { @apply text-red-400; }
.red.active:not(.override-colour), .red .active { @apply active:text-red-300; }
.red.hover:not(.override-colour), .red .hover { @apply hover:text-red-500 hover:bg-red-200 focus:text-red-500 focus:bg-red-200 transition-colors; }
.red.bgMain:not(.override-colour), .red .bgMain { @apply bg-red-100; }
.red.bgLight:not(.override-colour), .red .bgLight { @apply bg-red-50; }
.red.bgStrong:not(.override-colour), .red .bgStrong {@apply bg-red-200; }
.blue.text:not(.override-colour), .blue .text { @apply text-blue-400; }
.blue.active:not(.override-colour), .blue .active { @apply active:text-blue-300; }
.blue.hover:not(.override-colour), .blue .hover { @apply hover:text-blue-500 hover:bg-blue-200 focus:text-blue-500 focus:bg-blue-200 transition-colors; }
.blue.bgMain:not(.override-colour), .blue .bgMain { @apply bg-blue-100; }
.blue.bgLight:not(.override-colour), .blue .bgLight { @apply bg-blue-50; }
.blue.bgStrong:not(.override-colour), .blue .bgStrong {@apply bg-blue-200; }
.green.text:not(.override-colour), .green .text { @apply text-lime-400; }
.green.active:not(.override-colour), .green .active { @apply active:text-lime-300; }
.green.hover:not(.override-colour), .green .hover { @apply hover:text-lime-500 hover:bg-lime-200 focus:text-lime-500 focus:bg-lime-200 transition-colors; }
.green.bgMain:not(.override-colour), .green .bgMain { @apply bg-lime-100; }
.green.bgLight:not(.override-colour), .green .bgLight { @apply bg-lime-50; }
.green.bgStrong:not(.override-colour), .green .bgStrong {@apply bg-lime-200; }
.grey.text:not(.override-colour), .grey .text { @apply text-gray-400; }
.grey.active:not(.override-colour), .grey .active { @apply active:text-gray-300; }
.grey.hover:not(.override-colour), .grey .hover { @apply hover:text-gray-500 hover:bg-gray-200 focus:text-gray-500 focus:bg-gray-200 transition-colors; }
.grey.bgMain:not(.override-colour), .grey .bgMain { @apply bg-gray-100; }
.grey.bgLight:not(.override-colour), .grey .bgLight { @apply bg-gray-50; }
.grey.bgStrong:not(.override-colour), .grey .bgStrong {@apply bg-gray-200; }

